venv/
build/
# Binary files
*.o
*.so
*.a
engine
fastfish
build_centos7/
logs/
test_data/
test_data_bak/
test_data_cleaned/
compile_commands.json
.cache
trading-engine-20260121_083835.tar.gz
trading-engine-20260121_090740.tar.gz
script/__pycache__
.clangd
result